<div>
    <h2 id="page-heading">
        <span jhiTranslate="nursefrontApp.wallet.home.title">Wallets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-wallet" [routerLink]="['/wallet/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="nursefrontApp.wallet.home.createLabel">
            Create new Wallet
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="wallets">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="name"><span jhiTranslate="nursefrontApp.wallet.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="address"><span jhiTranslate="nursefrontApp.wallet.address">Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="privateKey"><span jhiTranslate="nursefrontApp.wallet.privateKey">Private Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="publicKey"><span jhiTranslate="nursefrontApp.wallet.publicKey">Public Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="publicKeyHash"><span jhiTranslate="nursefrontApp.wallet.publicKeyHash">Public Key Hash</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="wif"><span jhiTranslate="nursefrontApp.wallet.wif">Wif</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let wallet of wallets ;trackBy: trackId">
                <td><a [routerLink]="['/wallet', wallet.id, 'view' ]">{{wallet.name}}</a></td>
                <td>{{wallet.address}}</td>
                <td>{{wallet.privateKey}}</td>
                <td>{{wallet.publicKey}}</td>
                <td>{{wallet.publicKeyHash}}</td>
                <td>{{wallet.wif}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/wallet', wallet.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/wallet', wallet.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'wallet/'+ wallet.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="wallets && wallets.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
